@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	src: url("public/styles/fonts/Roboto-Bold-webfont.eot");
	src: url("public/styles/fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
	  url("public/styles/fonts/Roboto-Bold-webfont.woff") format("woff"),
	  url("public/styles/fonts/Roboto-Bold-webfont.ttf") format("truetype");
  }
  
  @font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	src: url("public/styles/fonts/Roboto-Light-webfont.eot");
	src: url("public/styles/fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"),
	  url("public/styles/fonts/Roboto-Light-webfont.woff") format("woff"),
	  url("public/styles/fonts/Roboto-Light-webfont.ttf") format("truetype");
  }
  
  @font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	src: url("public/styles/fonts/Roboto-Regular-webfont.eot");
	src: url("public/styles/fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
	  url("public/styles/fonts/Roboto-Regular-webfont.woff") format("woff"),
	  url("public/styles/fonts/Roboto-Regular-webfont.ttf") format("truetype");
  }


@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('public/styles/fonts/iranyekanwebbold.eot');
	src: url('public/styles/fonts/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('public/styles/fonts/iranyekanwebthin.eot');
	src: url('public/styles/fonts/iranyekanwebthin.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanwebthin.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('public/styles/fonts/iranyekanweblight.eot');
	src: url('public/styles/fonts/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('public/styles/fonts/iranyekanwebregular.eot');
	src: url('public/styles/fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('public/styles/fonts/iranyekanwebmedium.eot');
	src: url('public/styles/fonts/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanwebmedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanwebmedium.ttf') format('truetype');
}


@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('public/styles/fonts/iranyekanwebextrabold.eot');
	src: url('public/styles/fonts/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('public/styles/fonts/iranyekanwebextrabold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('public/styles/fonts/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('public/styles/fonts/iranyekanwebblack.eot');
	src: url('public/styles/fonts/iranyekanwebblack.eot?#iefix') format('embedded-opentype'), 
	url('public/styles/fonts/iranyekanwebblack.woff') format('woff'), 
	url('public/styles/fonts/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('public/styles/fonts/iranyekanwebextrablack.eot');
	src: url('public/styles/fonts/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'), 
	url('public/styles/fonts/iranyekanwebextrablack.woff') format('woff'), 
	url('public/styles/fonts/iranyekanwebextrablack.ttf') format('truetype');
}

body {
	font-family: Roboto;
}

input, button, textarea, select {
	font-size:16px;
	font-family: Roboto !important;
}
