@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?6od147');
  src:  url('../icons/icomoon.eot?6od147#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?6od147') format('truetype'),
    url('../icons/icomoon.woff?6od147') format('woff'),
    url('../icons/icomoon.svg?6od147#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../icons */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e927";
  color: #d14836;
}
.icon-cake:before {
  content: "\e916";
}
.icon-person_search:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-smartphone:before {
  content: "\e902";
}
.icon-user-solid-circle:before {
  content: "\e903";
}
.icon-old-phone:before {
  content: "\e928";
}
.icon-modern-mic:before {
  content: "\e929";
}
.icon-phone4:before {
  content: "\e92a";
}
.icon-open-book:before {
  content: "\e91c";
}
.icon-leaf1:before {
  content: "\e91d";
}
.icon-linkedin-with-circle:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e91e";
}
.icon-reading:before {
  content: "\e91e";
}
.icon-book1:before {
  content: "\e91f";
}
.icon-reading1:before {
  content: "\e91f";
}
.icon-bike:before {
  content: "\e920";
}
.icon-bicycle:before {
  content: "\e920";
}
.icon-travel:before {
  content: "\e920";
}
.icon-ride:before {
  content: "\e920";
}
.icon-notice:before {
  content: "\e905";
}
.icon-warning:before {
  content: "\e905";
}
.icon-explanation-mark:before {
  content: "\e905";
}
.icon-notification:before {
  content: "\e905";
}
.icon-notice1:before {
  content: "\e906";
}
.icon-warning1:before {
  content: "\e906";
}
.icon-explanation-mark1:before {
  content: "\e906";
}
.icon-notification1:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-date:before {
  content: "\e907";
}
.icon-schedule:before {
  content: "\e907";
}
.icon-hourglass:before {
  content: "\e92b";
}
.icon-loading:before {
  content: "\e92b";
}
.icon-busy:before {
  content: "\e92b";
}
.icon-time:before {
  content: "\e92b";
}
.icon-puzzle:before {
  content: "\e921";
}
.icon-piece:before {
  content: "\e921";
}
.icon-plugin:before {
  content: "\e921";
}
.icon-extension:before {
  content: "\e921";
}
.icon-game:before {
  content: "\e921";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-social:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e92c";
}
.icon-time1:before {
  content: "\e92c";
}
.icon-wrist-watch:before {
  content: "\e92c";
}
.icon-watch:before {
  content: "\e92c";
}
.icon-heart1:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e909";
}
.icon-profile:before {
  content: "\e909";
}
.icon-avatar:before {
  content: "\e909";
}
.icon-mail1:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90a";
}
.icon-letter:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-contact:before {
  content: "\e90a";
}
.icon-pin:before {
  content: "\e91b";
}
.icon-iphone:before {
  content: "\e90b";
}
.icon-touch:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-mobile:before {
  content: "\e90b";
}
.icon-mobile2:before {
  content: "\e90c";
}
.icon-phone2:before {
  content: "\e90c";
}
.icon-cellular:before {
  content: "\e90c";
}
.icon-dice:before {
  content: "\e922";
}
.icon-bullhorn:before {
  content: "\e92d";
}
.icon-mic:before {
  content: "\e92e";
}
.icon-books:before {
  content: "\e923";
}
.icon-phone5:before {
  content: "\e942";
}
.icon-clock1:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar1:before {
  content: "\e953";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-leaf2:before {
  content: "\e9a4";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-mail2:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-linkedin1:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-mobile1:before {
  content: "\e90d";
}
.icon-cellular-phone:before {
  content: "\e90d";
}
.icon-phone1:before {
  content: "\e90d";
}
.icon-phone3:before {
  content: "\e90e";
}
.icon-cellular1:before {
  content: "\e90e";
}
.icon-paw:before {
  content: "\e924";
}
.icon-leaf:before {
  content: "\e925";
}
.icon-bicycle1:before {
  content: "\e926";
}
.icon-heart-o:before {
  content: "\e918";
}
.icon-heartbeat:before {
  content: "\e919";
}
.icon-heart2:before {
  content: "\e91a";
}
.icon-question-circle:before {
  content: "\e90f";
}
.icon-question:before {
  content: "\e910";
}
.icon-user-o:before {
  content: "\e911";
}
.icon-user1:before {
  content: "\e912";
}
.icon-user-circle-o:before {
  content: "\e913";
}
.icon-user-circle:before {
  content: "\e914";
}
.icon-linkedin-square:before {
  content: "\e915";
}
