/*#region colors*/
:root {
    --clrBlack100: rgb(10, 10, 10);
    --clrBlack200: rgb(15, 15, 15);
    --clrBlack300: rgb(20, 20, 20);
    --clrBlack400: rgb(26, 26, 26);
    --clrBlack500: rgb(31, 31, 31);
    --clrBlack600: rgb(36, 36, 36);
    --clrBlack700: rgb(41, 41, 41);
    --clrBlack800: rgb(46, 46, 46);
    --clrBlack900: rgb(51, 51, 51);
    --clrGray100: rgb(128, 128, 128);
    --clrGray200: rgb(140, 140, 140);
    --clrGray300: rgb(153, 153, 153);
    --clrGray400: rgb(166, 166, 166);
    --clrGray500: rgb(179, 179, 179);
    --clrGray600: rgb(191, 191, 191);
    --clrGray700: rgb(204, 204, 204);
    --clrGray800: rgb(217, 217, 217);
    --clrGray900: rgb(229, 229, 229);
    --clrBlue100: rgb(37, 36, 64);
    --clrBlue200: rgb(45, 43, 77);
    --clrBlue300: rgb(52, 50, 89);
    --clrBlue400: rgb(59, 57, 102);
    --clrBlue500: rgb(67, 64, 115);
    --clrBlue600: rgb(74, 71, 128);
    --clrBlue700: rgb(82, 79, 140);
    --clrBlue800: rgb(89, 86, 153);
    --clrBlue900: rgb(100, 96, 170);
    --clrOrange100: rgb(140, 66, 20);
    --clrOrange200: rgb(153, 72, 21);
    --clrOrange300: rgb(166, 78, 23);
    --clrOrange400: rgb(179, 84, 25);
    --clrOrange500: rgb(191, 90, 27);
    --clrOrange600: rgb(204, 96, 29);
    --clrOrange700: rgb(217, 102, 30);
    --clrOrange800: rgb(219, 108, 32);
    --clrOrange900: rgb(242, 112, 34);
    --clrRed900: rgb(236, 29, 37);
    --clrPink100: rgb(255 0 217);
    --clrPink75: rgb(255 64 227);
    --clrPink50: rgb(255 127 236);
    --clrPink25: rgb(255 191 245);
}

html {
    font-size: 16px;
    font-weight: normal;
}

body {
    color: var(--clrBlack800);
}

a{
    text-decoration: underline;
}
.wrapper {
    max-width: 75rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding:2rem;
}

.golnarfarnudimenu{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    
}
.golnarfarnudimenu .mainmenu{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}


.golnarfarnudimenu ul {
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.golnarfarnudimenu ul li{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 1.25rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}
.golnarfarnudimenu ul li:last-of-type{
    margin-right: 0;

}


.golnarfarnudimenu h1{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 800;
}

/*golnarfarnudishow---------------------------------------*/
.golnarfarnudishow{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    padding-bottom: 40%;

}

/* .golnarfarnudishow .sections{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    

} */
.golnarfarnudishow  div{
    display: block;
    position: absolute;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgb(197, 197, 197) 0px 0px 5px 2px;
}

.golnarfarnudishow .section1{
    width:calc(20% - 1rem);
    top: 1rem;
    bottom: calc(50%);
    left: 1rem;
    background-color: red;
}

.golnarfarnudishow .section2{
    top: 1rem;
    bottom: calc(50%);
    left: calc(20%  + 1rem);
    width: calc(20% - 1rem);
    background-color: seagreen;
}

.golnarfarnudishow .section3{
    top: 1rem;
    bottom: calc(50%);
    left: calc(40% + 1rem);
    width: calc(20% + 2rem);
    background-color: seagreen;
}


.golnarfarnudishow .section4{
    top: calc(50% + 1rem);
    bottom: 1rem;
    left: 1rem;
    width: calc(60% + 2rem);
    background-color: seagreen;
}



.golnarfarnudishow .section5{
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    width: calc(40% - 5rem);
    background-color: seagreen;
}


/*golnarfarnudishow----------------------------------*/
.golnarfarnudiintroduction div{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
}

.golnarfarnudiintroduction h2{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.golnarfarnudiintroduction .cat{
    width: calc(100% / 2 - 2rem);
    margin-right: 4rem;
    float: left;
    margin-top: 6rem;
}

.golnarfarnudiintroduction .cat:last-of-type{
    margin-right: 0;
}

.golnarfarnudiintroduction .cat span{
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: rgb(197, 197, 197) 0px 0px 5px 2px;
}

/*golnarfarnudiemploymenthistory---------------------------------------*/
.golnarfarnudiemploymenthistory{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.golnarfarnudiemploymenthistory h2{
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.golnarfarnudiemploymenthistory ul{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 0.2rem;
}

.golnarfarnudiemploymenthistory ul li{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: calc(100% / 4 - 1.2rem);
    margin-right: 1.6rem;
    float: left;
    text-align: justify;
    margin-top: 2rem;
    box-shadow: rgb(197, 197, 197) 0px 0px 5px 2px;
}

.golnarfarnudiemploymenthistory ul li:nth-of-type(4n + 4){
    margin-right: 0;
}

.golnarfarnudiemploymenthistory ul li span{
    display: block;
    position: relative;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 1rem;
}

.golnarfarnudiemploymenthistory ul li h3{
    display: block;
    position: absolute;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    bottom: 1rem;
    left: 0;
    right: 0;
    padding:0.5rem;
    background-color: rgba(95, 4, 91, 0.5);
    color: var(--clrGray900);
}

.golnarfarnudiemploymenthistory ul li p{
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 500;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* golnarfarnudiArt ------------------------------------*/
.golnarfarnudiArt{
    display: block;
    position: relative;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(95, 4, 91, 0.5);
    text-align: justify;
    margin-top: 4rem;
}

.golnarfarnudiArt::after{
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    top:0;
    right: 50%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.golnarfarnudiArt .wrapper{
    display: block;
    position: relative;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.golnarfarnudiArt .wrapper .artcontent{
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    right: calc(50% + 4rem);
    left: 2rem;
    top:50%;
    transform: translateY(-50%);
    font-size: 1rem;
    line-height: 2rem;

}

.golnarfarnudiArtdetails{
    display: block;
    position: relative;
    box-sizing: border-box;
}

.golnarfarnudiArtdetails ul{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 2rem 0.2rem;
}
.golnarfarnudiArtdetails ul li{
    display: block;
    position: relative;
    box-sizing: border-box;
    width: calc(100% / 3 - 1rem);
    margin-right: 1.5rem;
    float: left;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    padding-bottom: 20%;
    box-shadow: rgb(197, 197, 197) 0px 0px 5px 2px;
    /* box-shadow: rgb(218, 218, 218) 1px 5px 9px 5px; */
}

.golnarfarnudiArtdetails ul li:last-of-type{
    margin-right: 0;
}

.golnarfarnudiArtdetails ul li::after{
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.golnarfarnudiArtdetails ul li:hover::after{
    top:100%;
    right: 100%;
    bottom: 0;
    left: 0;
    
}


.golnarfarnudiArtdetails ul li h4{
    display: block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

.golnarfarnudiArtdetails ul li span{
    display: block;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}




 .golnarfarnudicontact ul{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 2rem auto;
    z-index: 1;
    text-align: center;
}

.golnarfarnudicontact ul li{
    display: block;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: calc(100% /5 - 0.8rem);
    float:left;
    /* margin-right: 6rem;
    padding: 0.2rem; */
    border: solid 0.1rem;
    margin-right: 1rem;
    padding: 1rem 0;
}

.golnarfarnudicontact ul li:last-of-type{
    margin-right: 0;
}


.golnarfarnudicontact ul li a{
    text-decoration: none;
    display:block;
    position: relative;
    width: 100%;
    /* border-radius: 50%; */
    text-align: center;
    /* box-shadow: rgb(197, 197, 197) 0px 0px 5px 2px; */
} 

 .golnarfarnudicontact ul li a span{
    display:block;
    position: relative;
    box-sizing: border-box;
   
    font-size: 4rem;
    
}  


.golnarfarnudicontact ul li > span{
    display:block;
    position: relative;
    box-sizing: border-box;
    float:left;
    width: 100%;
} 

.golnarfarnudicontact ul li > span:first-of-type{
    margin-top: 2rem;
    font-size: 0.8rem;
    line-height: 1rem;
    /* color: var(--clrGray100); */
    font-weight: 400;
} 

.golnarfarnudicontact ul li > span:last-of-type{
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    /* color: var(--clrBlack900); */
    font-weight: 500;
} 


.golnarfarnudicontact ul li.phonelink{
    color: rgb(228, 128, 15);
}

.golnarfarnudicontact ul li.phonelink:hover{
    background-color:rgb(228, 128, 15);
    color: white;
    
}


.golnarfarnudicontact ul li.linkedinlink{
    color: #0077b5;
}

.golnarfarnudicontact ul li.linkedinlink:hover{
    background-color:#0077b5;
    color: white;
}

.golnarfarnudicontact ul li.instagramlink{
    color: #8a3ab9;
}

.golnarfarnudicontact ul li.instagramlink:hover{
    background-color:#8a3ab9;
    color: white;
}

.golnarfarnudicontact ul li.facebooklink{
    color: rgb(66, 103, 178);
}

.golnarfarnudicontact ul li.facebooklink:hover{
    background-color:rgb(66, 103, 178);
    color: white;
}

.golnarfarnudicontact ul li.maillink{
    color: #d14836;
}

.golnarfarnudicontact ul li.maillink:hover{
    background-color:#d14836;
    color: white;
}

.golnarfarnudicontact ul li:hover{
    transition: background-color ease-in-out 0.1s;
}

